.wrapper{
    padding:5px;
    background: #2e304b;
    color: aliceblue;
    height: 100vh;
}

.navbarMenu{
  font-size: 1.5rem;
}

.hero-button, 
.resumeButton{
    background: #2e304b;
    color: aliceblue;
    border-radius: 2rem;
    height: 4rem;
    width: 15rem;
}

.heroLink{
    width: 30%;
    font-size: 2rem;
}

  .resumeButton{
    height: 35px;
    width: 180px;
  }

  .icons, .title{
    font-size: 2rem;
  }

  .icons i:hover{
    color: red;
  }

  
.parallax{
    background: url('./images/di.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height:100vh;
}

.to-nav{
  background: #2e304b;
}
.layout{
  min-height: 75vh;
}

.projects {
  overflow-x: auto;
  flex-wrap: nowrap;

}

.projectsCardBody{
  width: 300px;
  position: relative;
  transition: transform 0.2s;
}

.projectsCardBody:hover{
  cursor: pointer;;
  transform: scale(1.1);
}

